@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  height: 10vh;
  background-color: #e3f2fd;
}


.navbar-text {
  margin-bottom: 0; 
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}

.card {
  border-radius: 8px;
  border-style: dotted;
  background-color: #f8f9fa;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.card-info {
  margin-left: 5vw;
}

.text-primary {
  font-weight: 500;
  text-decoration: underline;
}

.form-control{
  border-width: 2px;

}
.form-label{
  font-weight: bold;
}
.form-control:focus{
  box-shadow: none;
}
.container {
  display: inline-block; /* Ensures the container wraps the content */
  position: relative; /* Positioning context for the "top-right" element */
}

.top-right {
  font-size: 1em; /* Optional: Make the top-right element smaller */
  color: red; /* Optional: Change color */
}

.slide-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slide-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.btn {
  border-radius: 2rem;
  color: white;
}

.btn-primary {
  background-color: rgb(22, 71, 204);
}

.details {
  border-radius: 5px;
  min-height: 10vh;
}

.filter {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5vw;
  margin-right: 10vw;
}

.form-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.form-loader-content{
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;

}

.form-error-backdrop{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  align-items: center;
}

.form-error-content{
  flex-grow: 1;
}

.btn-close{
  border: 2px solid transparent;
  padding: 10px !important;
  margin: 10px;
}

.btn-close:focus, .btn-close:active{
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.2);
}

.alert-heading{
  font-size: 19px;
}

.feedback-button {
border-radius: 5px;
font-size: small;
margin-right: 0.8rem;
}


.auto-toast{
  width: 220px;
}